body.home {
    margin-top: 50px; 
}

body.add {
  background-image: url('/images/owner_login.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    
}

.btn-warning {
    color: #272B2B;
    background-color: #FEEA58;
    border-color: #FEEA58; 
    width: 100%;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: #FEEA58;
    background-color: #3B4245;
    border-color: #3B4245;  
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.topright {
    position: fixed;
    top: 8px;
    right: 100px;
    font-size: 18px;
}

@media (min-width: 768px) {
    .dropdown-menu {
        border: none;
        
        margin-top: -1px;
    }
}




body.security-app {
    text-align: center;
    overflow: hidden;
    height: 100%;
    width:100%;
    background:#edecec;
}

body.security-app:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #D40047;
    content: "";
    z-index: 0;
}

body.security-app:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
}

